@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: sports_worldregular; src: url("fonts/sports_world-regular.eot"); src: url("fonts/sports_world-regular.eot?#iefix") format("embedded-opentype"), url("fonts/sports_world-regular.woff") format("woff"), url("fonts/sports_world-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "Roboto", sans-serif; font-size: 16px; color: white; line-height: 1.4; }
body.no-scroll { overflow: hidden; }

.out { position: relative; margin: 0 auto -190px; min-height: 100%; height: auto !important; height: 100%; background: url(../img/bg.jpg); -webkit-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; }
@media only screen and (max-width: 600px) { .out { margin: 0 auto -380px; } }

.push { height: 190px; }
@media only screen and (max-width: 600px) { .push { height: 380px; } }

.container { max-width: 1200px; margin: 0 auto; }
@media only screen and (max-width: 1200px) { .container { max-width: 960px; } }

.date { color: #464646; font-size: 12px; }

.h2 { font-family: "sports_worldregular", Arial, serif; font-size: 70px; color: white; text-transform: uppercase; }
@media only screen and (max-width: 1200px) { .h2 { font-size: 56px; } }
@media only screen and (max-width: 960px) { .h2 { font-size: 42px; } }
@media only screen and (max-width: 480px) { .h2 { font-size: 40px; } }

.h3 { font-family: "sports_worldregular", Arial, serif; color: white; font-size: 40px; text-transform: uppercase; }
@media only screen and (max-width: 768px) { .h3 { font-size: 36px; } }
@media only screen and (max-width: 480px) { .h3 { font-size: 28px; } }
@media only screen and (max-width: 360px) { .h3 { font-size: 22px; } }

.header { position: absolute; top: 0; left: 0; right: 0; z-index: 9; }
@media only screen and (max-width: 960px) { .header { position: relative; height: 100px; } }
.header__sticky { position: fixed; top: 0; right: 0; left: 0; height: 50px; background: rgba(0, 0, 0, 0.6); }
.header__sticky.is-scroll .logo a { height: 50px; }
.header__sticky.is-scroll .logo a:before { opacity: 0; -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -webkit-transform: translateY(-100%); transform: translateY(-100%); }
@media only screen and (max-width: 960px) { .header__sticky.is-scroll .logo a:before { opacity: 1; -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); } }
.header__sticky.is-scroll .logo a:after { opacity: 1; }
@media only screen and (max-width: 960px) { .header__sticky.is-scroll .logo a:after { opacity: 0; } }
@media only screen and (max-width: 960px) { .header__sticky { height: 100px; } }
.header__in { position: relative; max-width: 1200px; margin: 0 auto; *zoom: 1; }
@media only screen and (max-width: 1200px) { .header__in { max-width: 960px; } }
.header__in:after { content: " "; display: table; clear: both; }

.menu-btn { display: none; position: relative; float: left; width: 100px; height: 100px; background: #212121; }
.menu-btn:before { content: ""; position: absolute; top: 30px; left: 25px; background: url('../img/icons-s46ab90ff26.png') 0 -600px no-repeat; width: 50px; height: 40px; }
@media only screen and (max-width: 960px) { .menu-btn { display: block; } }

.logo { position: relative; float: left; width: 160px; height: 50px; }
.logo a { position: absolute; top: 0; left: 0; width: 160px; height: 240px; background: black; font: 0/0 a; text-shadow: none; color: transparent; }
.logo a:before { content: ""; position: absolute; top: 27px; left: 29px; background: url('../img/icons-s46ab90ff26.png') 0 -202px no-repeat; width: 104px; height: 192px; -moz-transition: opacity 300ms, transform 300ms; -o-transition: opacity 300ms, transform 300ms; -webkit-transition: opacity 300ms, transform 300ms; -ms-transition: opacity 300ms, transform 300ms; transition: opacity 300ms, transform 300ms; z-index: 2; }
.logo a:after { content: ""; position: absolute; top: 4px; left: 27px; background: url('../img/icons-s46ab90ff26.png') 0 -91px no-repeat; width: 88px; height: 40px; opacity: 0; -moz-transition: opacity 300ms 150ms; -o-transition: opacity 300ms 150ms; -webkit-transition: opacity 300ms; -webkit-transition-delay: 150ms; transition: opacity 300ms 150ms; z-index: 1; }
@media only screen and (max-width: 960px) { .logo a { height: 100px; width: 170px; }
  .logo a:before { background: url('../img/icons-s46ab90ff26.png') 0 -141px no-repeat; width: 112px; height: 51px; } }

.menu { float: left; }
@media only screen and (max-width: 960px) { .menu { display: none; } }
.menu__close { display: none; position: absolute; top: 30px; left: 30px; }
@media only screen and (max-width: 960px) { .menu__close { display: block; } }
.menu ul { *zoom: 1; }
.menu ul:after { content: " "; display: table; clear: both; }
.menu ul li { float: left; }
.menu ul li a { display: block; padding: 0 20px; font-weight: bold; font-size: 14px; text-transform: uppercase; color: white; line-height: 50px; text-decoration: none; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.menu ul li a:hover { color: #e9700d; }
.menu ul li a.is-active { background: #e9700d; }
.menu ul li a.is-active:hover { color: white; }

.menu-popup { position: fixed; top: 0; bottom: 0; right: 0; left: 0; overflow-y: auto; background: #121212; z-index: 10; }
.menu-popup__close { position: absolute; top: 30px; left: 30px; background: url('../img/icons-s46ab90ff26.png') 0 -551px no-repeat; width: 40px; height: 39px; }
.menu-popup ul { text-align: center; width: 170px; margin: 120px auto; }
.menu-popup ul li { border-top: 1px solid #333333; line-height: 60px; }
.menu-popup ul li a { display: inline-block; height: 60px; font-weight: bold; font-size: 18px; color: white; text-transform: uppercase; text-decoration: none; }
.menu-popup ul li a:hover { color: #e9700d; }
.menu-popup ul li:first-child { border-top: none; }

.lang { float: right; *zoom: 1; }
.lang:after { content: " "; display: table; clear: both; }
.lang li { float: left; }
@media only screen and (max-width: 960px) { .lang li { float: none; } }
.lang li a { display: block; width: 50px; text-align: center; font-weight: bold; color: white; line-height: 50px; font-size: 14px; text-decoration: none; text-transform: uppercase; color: #636363; }
.lang li a:hover { color: #e9700d; }
.lang li a.is-active { background: #e9700d; color: white; }
.lang li a.is-active:hover { color: white; }

.footer { height: 190px; }
@media only screen and (max-width: 600px) { .footer { height: 380px; } }
.footer__in { max-width: 1200px; margin: 0 auto; *zoom: 1; padding-top: 60px; font-family: "PT Sans", sans-serif; font-size: 12px; color: #4d4d4d; }
@media only screen and (max-width: 1200px) { .footer__in { max-width: 960px; } }
.footer__in:after { content: " "; display: table; clear: both; }
.footer__in a { color: #e9700d; text-decoration: none; }
.footer__in a:hover { text-decoration: underline; }
@media only screen and (max-width: 600px) { .footer__in { padding: 60px 20px 0; text-align: center; } }
.footer__logo { float: left; position: relative; width: 150px; margin-right: 55px; text-align: center; }
.footer__logo a { display: inline-block; vertical-align: top; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s46ab90ff26.png') 0 -30px no-repeat; width: 112px; height: 51px; }
@media only screen and (max-width: 960px) { .footer__logo { margin-right: 25px; } }
@media only screen and (max-width: 600px) { .footer__logo { margin: 0 auto 30px; float: none; } }
.footer__copyrights { position: relative; float: left; width: 20%; margin-right: 25px; }
@media only screen and (max-width: 600px) { .footer__copyrights { float: none; width: 100%; margin-bottom: 30px; } }
.footer__contacts { position: relative; float: left; width: 32%; }
@media only screen and (max-width: 600px) { .footer__contacts { float: none; width: 100%; margin-bottom: 30px; } }

.qb-interactive { position: relative; float: right; width: 14%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 35px; }
.qb-interactive:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s46ab90ff26.png') 0 -756px no-repeat; width: 29px; height: 29px; }
@media only screen and (max-width: 960px) { .qb-interactive { width: 20%; } }
@media only screen and (max-width: 600px) { .qb-interactive { float: none; width: 150px; margin: 0 auto; } }

.breadcrumbs { background: #050505; }
@media only screen and (max-width: 360px) { .breadcrumbs.breadcrumbs_inner > ul li:first-child { display: none; } }
.breadcrumbs.breadcrumbs_events { *zoom: 1; }
.breadcrumbs.breadcrumbs_events:after { content: " "; display: table; clear: both; }
.breadcrumbs.breadcrumbs_events > ul { float: left; }
.breadcrumbs > ul { *zoom: 1; }
.breadcrumbs > ul:after { content: " "; display: table; clear: both; }
.breadcrumbs > ul li { float: left; position: relative; margin-left: 32px; height: 50px; line-height: 50px; }
.breadcrumbs > ul li:before { content: "«"; position: absolute; top: 0px; left: -11px; font-weight: bold; font-size: 14px; color: #e9700d; }
.breadcrumbs > ul li a { font-size: 14px; color: white; font-weight: bold; text-transform: uppercase; text-decoration: none; -moz-transition: color 150ms; -o-transition: color 150ms; -webkit-transition: color 150ms; transition: color 150ms; }
.breadcrumbs > ul li a:hover { color: #e9700d; }
.breadcrumbs > ul li:first-child { background: #e87312; padding: 0 22px; margin-left: 0; }
.breadcrumbs > ul li:first-child a { font-family: "sports_worldregular", Arial, serif; font-size: 28px; }
.breadcrumbs > ul li:first-child a:hover { color: white; }
.breadcrumbs > ul li:first-child:before { display: none; }

.select { position: relative; }
.select__text { position: relative; display: block; height: 30px; line-height: 30px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; padding: 0 40px 0 18px; background: #e9700d; font-weight: bold; font-size: 14px; color: white; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.select__text:before { content: ""; position: absolute; top: 11px; right: 11px; background: url('../img/icons-s46ab90ff26.png') 0 -819px no-repeat; width: 10px; height: 5px; }
.select select { visibility: hidden; }
.select__list { position: absolute; top: 30px; left: 0; right: 0; background: #e9700d; z-index: 9; font-size: 14px; }
.select__list a { display: block; padding: 5px 18px; text-decoration: none; color: white; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.select__list a:hover { background: #cb5700; }

.pagination { *zoom: 1; height: 50px; background: #050505; }
.pagination:after { content: " "; display: table; clear: both; }
.pagination__back, .pagination__forward { position: relative; width: 50px; height: 50px; background: #e9700d; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.pagination__back:hover, .pagination__forward:hover { background: #cb5700; }
.pagination__back.is-disabled, .pagination__forward.is-disabled { cursor: default; }
.pagination__back.is-disabled:hover, .pagination__forward.is-disabled:hover { background: #e9700d; }
.pagination__back.is-disabled:before, .pagination__forward.is-disabled:before { opacity: 0.5; }
.pagination__back { float: left; }
.pagination__back:before { content: ""; position: absolute; top: 14px; left: 18px; background: url('../img/icons-s46ab90ff26.png') 0 -722px no-repeat; width: 11px; height: 24px; }
.pagination__forward { float: right; }
.pagination__forward:before { content: ""; position: absolute; top: 14px; left: 20px; background: url('../img/icons-s46ab90ff26.png') 0 -650px no-repeat; width: 11px; height: 24px; }
.pagination__pager { overflow: hidden; text-align: center; padding: 10px 0; }
.pagination__pager li { display: inline-block; vertical-align: middle; margin: 0 5px; color: #333333; font-weight: bold; font-size: 14px; }
.pagination__pager li a { display: block; height: 30px; width: 30px; text-align: center; line-height: 30px; background: #e9700d; color: white; text-decoration: none; font-size: 14px; font-weight: bold; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.pagination__pager li a:hover { background: #cb5700; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.banner { max-width: 1200px; margin: 0 auto; }
@media only screen and (max-width: 1200px) { .banner { max-width: 960px; } }
@media only screen and (max-width: 767px) { .banner { display: none; } }
.banner__inner { height: 240px; overflow: hidden; }
.banner__inner img { position: relative; width: 100%; }
@media only screen and (max-width: 1200px) { .banner__inner img { width: 960px; height: 240px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); } }

.slider { position: relative; }
.slider__item { position: relative; height: 530px; overflow: hidden; }
@media only screen and (max-width: 960px) { .slider__item { height: 400px; } }
.slider__img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; font-size: 0; }
.slider__img img { position: relative; width: 100%; }
@media only screen and (max-width: 800px) { .slider__img img { width: 800px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); } }
.slider__content { position: absolute; bottom: 90px; right: 0; left: 0; text-align: center; z-index: 2; }
@media only screen and (max-width: 568px) { .event .slider__content { bottom: 45px; } }
.slider__date { display: inline-block; padding: 0 22px; font-family: "sports_worldregular", Arial, serif; font-size: 40px; color: white; background: rgba(0, 0, 0, 0.7); }
@media only screen and (max-width: 768px) { .slider__date { font-size: 32px; } }
@media only screen and (max-width: 480px) { .slider__date { font-size: 22px; } }
.slider__title { font-family: "sports_worldregular", Arial, serif; font-size: 70px; line-height: 1; }
.slider__title a { position: relative; line-height: 1.2; background: #e9700d; text-decoration: none; color: white; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); box-shadow: 36px 0 0 0 #e9700d, -36px 0 0 0 #e9700d; }
.slider__title a:before { content: ""; position: absolute; bottom: 0; left: 5%; right: 5%; height: 1px; -moz-box-shadow: 0 0px 40px 8px black; -webkit-box-shadow: 0 0px 40px 8px black; box-shadow: 0 0px 40px 8px black; }
.slider__title a:before { z-index: -1; }
.slider__title a:hover { background: #cb5700; box-shadow: 36px 0 0 0 #cb5700, -36px 0 0 0 #cb5700; }
@media only screen and (max-width: 768px) { .slider__title { font-size: 50px; }
  .slider__title a { box-shadow: 20px 0 0 0 #e9700d, -20px 0 0 0 #e9700d; }
  .slider__title a:before { display: none; } }
@media only screen and (max-width: 480px) { .slider__title { font-size: 40px; } }
.slider__place { text-align: center; margin-top: 1px; }
.slider__place a { position: relative; display: inline-block; background: black; padding: 0 30px 0 50px; height: 50px; line-height: 50px; color: white; font-size: 14px; text-transform: uppercase; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.slider__place a:before { content: ""; position: absolute; top: 14px; left: 20px; background: url('../img/icons-s46ab90ff26.png') 0 -490px no-repeat; width: 17px; height: 19px; }
.slider__place a:after { content: " »"; display: inline-block; margin-left: 3px; color: #e9700d; }
.slider__place a:hover { color: #e9700d; }

.slick-prev { position: absolute; top: 190px; right: 50px; width: 50px; height: 50px; background: #e9700d; font: 0/0 a; text-shadow: none; color: transparent; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.slick-prev:before { content: ""; position: absolute; top: 12px; left: 17px; background: url('../img/icons-s46ab90ff26.png') 0 -722px no-repeat; width: 11px; height: 24px; }
.slick-prev:hover { background: #cb5700; }
@media only screen and (max-width: 768px) { .slick-prev { top: auto; bottom: 20px; right: 50%; margin-left: -50px; } }

.slick-next { position: absolute; top: 190px; right: 0; width: 50px; height: 50px; background: #e9700d; font: 0/0 a; text-shadow: none; color: transparent; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.slick-next:before { content: ""; position: absolute; top: 12px; left: 19px; background: url('../img/icons-s46ab90ff26.png') 0 -650px no-repeat; width: 11px; height: 24px; }
.slick-next:hover { background: #cb5700; }
@media only screen and (max-width: 768px) { .slick-next { top: auto; bottom: 20px; right: 50%; margin-right: -50px; } }

.main { position: relative; *zoom: 1; background: #1a1a1a; box-shadow: 0 40px 40px -28px black; }
.main:after { content: " "; display: table; clear: both; }
.main.main_business, .main.main_noshadow { background: transparent; box-shadow: none; }

.m-news { float: left; width: 500px; }
@media only screen and (max-width: 1200px) { .m-news { width: 400px; } }
@media only screen and (max-width: 960px) { .m-news { width: 50%; } }
@media only screen and (max-width: 600px) { .m-news { width: 100%; } }
.m-news__item { height: 200px; background: #121212; }
.m-news__item:nth-child(2n) { background: #1a1a1a; }
.m-news__item:nth-child(2n) .m-news__info:before { width: 0px; height: 0px; border-style: solid; border-width: 11px 11px 11px 0; border-color: transparent #1a1a1a transparent transparent; }
@media only screen and (max-width: 1200px) { .m-news__item { height: 160px; font-size: 14px; } }
@media only screen and (max-width: 960px) { .m-news__item.is-removable { display: none; } }
@media only screen and (max-width: 320px) { .m-news__item { height: auto; } }
.m-news__img { float: left; width: 200px; height: 200px; font-size: 0; overflow: hidden; }
.m-news__img img { width: 100%; }
@media only screen and (max-width: 1200px) { .m-news__img { width: 160px; height: 160px; } }
@media only screen and (max-width: 320px) { .m-news__img { float: none; width: 100%; } }
.m-news__info { position: relative; float: right; height: 200px; width: 300px; padding: 15px 18px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.m-news__info:before { content: ""; position: absolute; top: 50%; left: -11px; margin-top: -11px; width: 0px; height: 0px; border-style: solid; border-width: 11px 11px 11px 0; border-color: transparent #121212 transparent transparent; }
@media only screen and (max-width: 1200px) { .m-news__info { width: 240px; height: 160px; } }
@media only screen and (max-width: 960px) { .m-news__info { float: none; overflow: hidden; width: auto; } }
.m-news__link { text-decoration: none; font-size: 16px; color: #e9700d; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.m-news__link:hover { color: #cb5700; }
@media only screen and (max-width: 1200px) { .m-news__link { font-size: 14px; } }

.m-events { float: left; width: 300px; }
@media only screen and (max-width: 1200px) { .m-events { width: 240px; } }
@media only screen and (max-width: 960px) { .m-events { width: 50%; } }
@media only screen and (max-width: 600px) { .m-events { width: 100%; } }
.m-events__item { position: relative; height: 200px; }
@media only screen and (max-width: 1200px) { .m-events__item { height: 160px; } }
@media only screen and (max-width: 960px) { .m-events__item { width: 50%; float: left; } }
@media only screen and (max-width: 320px) { .m-events__item { width: 100%; } }
.m-events__bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 0; z-index: 1; overflow: hidden; }
.m-events__bg img { width: 100%; height: auto; }
.m-events__info { position: absolute; left: 15px; bottom: 15px; line-height: 1; z-index: 2; }
.m-events__date, .m-events .m-events__title { display: inline-block; color: white; line-height: 1.4; text-transform: uppercase; font-weight: bold; font-size: 14px; text-decoration: none; }
.m-events__date span, .m-events .m-events__title span { background: #e9700d; box-shadow: 4px 0 0 0 #e9700d, -4px 0 0 0 #e9700d; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.m-events__date:hover span, .m-events .m-events__title:hover span { background: black; box-shadow: 4px 0 0 0 black, -4px 0 0 0 black; }
@media only screen and (max-width: 768px) { .m-events__date, .m-events .m-events__title { font-size: 12px; } }
.m-events__passed { margin-bottom: 10px; }
.m-events__passed a { background: white; color: #0d0d0d; font-family: "sports_worldregular", Arial, serif; font-size: 16px; text-decoration: none; box-shadow: 4px 0 0 0 white, -4px 0 0 0 white; }

.m-video { float: left; width: 200px; }
@media only screen and (max-width: 1200px) { .m-video { width: 160px; } }
@media only screen and (max-width: 960px) { .m-video { width: 50%; } }
@media only screen and (max-width: 600px) { .m-video { width: 100%; } }
.m-video__item { position: relative; height: 200px; }
@media only screen and (max-width: 1200px) { .m-video__item { height: 160px; } }
@media only screen and (max-width: 960px) { .m-video__item { float: left; width: 50%; height: auto; padding-bottom: 50%; } }
.m-video__bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 0; z-index: 1; }
.m-video__bg img { width: 100%; height: 100%; }
.m-video__play { position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -14px; background: url('../img/icons-s46ab90ff26.png') 0 -684px no-repeat; width: 21px; height: 28px; z-index: 2; }

.m-photo { float: left; width: 200px; }
@media only screen and (max-width: 1200px) { .m-photo { width: 160px; } }
@media only screen and (max-width: 960px) { .m-photo { width: 50%; } }
@media only screen and (max-width: 600px) { .m-photo { width: 100%; } }
.m-photo__item { position: relative; height: 200px; }
@media only screen and (max-width: 1200px) { .m-photo__item { height: 160px; } }
@media only screen and (max-width: 960px) { .m-photo__item { float: left; width: 50%; height: auto; padding-bottom: 50%; } }
.m-photo__bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 0; z-index: 1; }
.m-photo__bg img { width: 100%; height: 100%; }

.title { position: relative; padding-left: 70px; height: 50px; line-height: 50px; background: black; }
.title:before { content: ""; position: absolute; top: 0; left: 0; width: 50px; height: 50px; background: #e9700d; }
.title:after { content: ""; position: absolute; top: 15px; left: 13px; background: url('../img/icons-s46ab90ff26.png') 0 -435px no-repeat; width: 22px; height: 18px; }
.title.title_events:after { background: url('../img/icons-s46ab90ff26.png') 0 -404px no-repeat; width: 20px; height: 21px; }
.title a { position: relative; display: inline-block; font-weight: bold; color: white; text-transform: uppercase; text-decoration: none; }
.title a:after { content: "»"; position: absolute; top: -1px; right: -12px; color: #e9700d; }

.boxers { *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 15px; }
.boxers:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 960px) { .boxers { padding-bottom: 70px; } }
.boxers__slide { float: left; width: 380px; }
.boxers__wrap { padding: 0 5px; }
.boxers__list { margin-bottom: 20px; }
.boxers__link { margin-bottom: 20px; padding-left: 6px; line-height: 1; }
.boxers__link a { text-decoration: none; background: #e9700d; color: white; font-family: "sports_worldregular", Arial, serif; font-size: 24px; line-height: 1.2; text-transform: uppercase; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; box-shadow: 6px 0 0 0 #e9700d, -6px 0 0 0 #e9700d; }
.boxers__link a:hover { background: black; box-shadow: 6px 0 0 0 black, -6px 0 0 0 black; }
.boxers__item { position: relative; height: 0; padding-bottom: 100%; margin-bottom: 10px; }
.boxers__item > a { display: block; text-decoration: none; color: white; }
.boxers__item > a:hover .boxers__info, .boxers__item > a:hover .boxers__more { opacity: 1; }
.boxers__img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; overflow: hidden; z-index: 1; }
.boxers__img img { width: 100%; }
.boxers__info { position: absolute; top: 0; bottom: 0; right: 0; left: 0; padding: 20px; z-index: 2; background: rgba(233, 112, 13, 0.8); opacity: 0; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
@media only screen and (max-width: 1200px) { .boxers__info { padding: 15px; } }
@media only screen and (max-width: 680px) { .boxers__info { padding: 10px; line-height: 1; } }
@media only screen and (max-width: 567px) { .boxers__info { padding: 5px; } }
@media only screen and (max-width: 480px) { .boxers__info { padding: 20px; } }
.boxers__name { font-family: "sports_worldregular", Arial, serif; font-size: 24px; color: white; }
@media only screen and (max-width: 1200px) { .boxers__name { line-height: 1.1; } }
@media only screen and (max-width: 680px) { .boxers__name { margin-bottom: 5px; line-height: 1; } }
@media only screen and (max-width: 567px) { .boxers__name { font-size: 20px; } }
@media only screen and (max-width: 480px) { .boxers__name { font-size: 24px; } }
.boxers__row { *zoom: 1; margin-bottom: 15px; border-bottom: 1px solid #ec8c3d; }
.boxers__row:after { content: " "; display: table; clear: both; }
.boxers__row:first-child { border-bottom: none; }
.boxers__row:first-child .boxers__col { border-bottom: 1px solid #ec8c3d; }
.boxers__row:last-child { border-bottom: none; }
@media only screen and (max-width: 1200px) { .boxers__row { margin-bottom: 5px; } }
@media only screen and (max-width: 480px) { .boxers__row { margin-bottom: 10px; } }
.boxers__col { float: right; width: 45%; }
.boxers__col:first-child { float: left; }
.boxers__title { font-size: 12px; color: #f3b785; margin-bottom: 10px; }
@media only screen and (max-width: 1200px) { .boxers__title { margin-bottom: 4px; } }
@media only screen and (max-width: 680px) { .boxers__title { font-size: 11px; } }
@media only screen and (max-width: 567px) { .boxers__title { font-size: 10px; } }
@media only screen and (max-width: 480px) { .boxers__title { font-size: 12px; margin-bottom: 10px; } }
.boxers__value { font-size: 16px; font-weight: bold; margin-bottom: 10px; }
@media only screen and (max-width: 1200px) { .boxers__value { margin-bottom: 4px; } }
@media only screen and (max-width: 680px) { .boxers__value { font-size: 15px; } }
@media only screen and (max-width: 567px) { .boxers__value { font-size: 14px; } }
@media only screen and (max-width: 480px) { .boxers__value { font-size: 16px; margin-bottom: 10px; } }
.boxers__more { position: absolute; bottom: 0; right: 0; width: 50px; height: 50px; line-height: 50px; background: black; font-weight: bold; color: white; text-align: center; opacity: 0; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; z-index: 3; }
@media only screen and (max-width: 1200px) { .boxers__more { width: 40px; height: 40px; line-height: 40px; } }
.boxers .slick-prev { left: 0; top: auto; bottom: 0; margin-left: 0; }
.boxers .slick-next { right: 0; bottom: 0; top: auto; margin-right: 0; }
.boxers .slick-dots { position: absolute; bottom: 0; left: 50px; right: 50px; text-align: center; }
.boxers .slick-dots li { display: inline-block; height: 50px; line-height: 50px; margin: 0 17px; }
.boxers .slick-dots li button { vertical-align: middle; font: 0/0 a; text-shadow: none; color: transparent; width: 7px; height: 7px; border-radius: 50%; background: white; }
.boxers .slick-dots li.slick-active button { background: #e9700d; }

.boxer__topper { display: table; width: 100%; background: #1a1a1a; }
@media only screen and (max-width: 767px) { .boxer__topper { display: block; *zoom: 1; }
  .boxer__topper:after { content: " "; display: table; clear: both; } }
.boxer__avatar { display: table-cell; vertical-align: top; width: 400px; height: 400px; overflow: hidden; font-size: 0; background: #121212; }
.boxer__avatar img { width: 100%; }
@media only screen and (max-width: 1200px) { .boxer__avatar { width: 320px; height: 320px; } }
@media only screen and (max-width: 960px) { .boxer__avatar { width: 32%; height: auto; } }
@media only screen and (max-width: 767px) { .boxer__avatar { display: block; width: 100%; text-align: center; }
  .boxer__avatar img { display: inline-block; width: 320px; height: auto; } }
.boxer__info { vertical-align: top; display: table-cell; width: 800px; }
@media only screen and (max-width: 1200px) { .boxer__info { width: 640px; } }
@media only screen and (max-width: 960px) { .boxer__info { width: 68%; } }
@media only screen and (max-width: 767px) { .boxer__info { display: block; width: 100%; } }
.boxer__title { background: #e9700d; color: white; padding: 0 30px; }
.boxer__content { *zoom: 1; }
.boxer__content:after { content: " "; display: table; clear: both; }
.boxer__about { position: relative; width: 800px; float: right; background: #121212; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 30px; font-family: "PT Sans", sans-serif; font-size: 16px; box-shadow: 0 40px 40px -28px black; }
.boxer__about h3 { margin-bottom: 20px; }
.boxer__about p { margin-bottom: 30px; }
.boxer__about h4 { margin-bottom: 10px; font-size: 24px; font-family: "Roboto", sans-serif; }
@media only screen and (max-width: 1200px) { .boxer__about { width: 640px; } }
@media only screen and (max-width: 960px) { .boxer__about { width: 68%; font-size: 14px; } }
@media only screen and (max-width: 767px) { .boxer__about { width: 100%; padding: 20px; } }
.boxer__head { border-bottom: 1px solid #333333; margin-bottom: 30px; font-family: "Roboto", sans-serif; font-weight: bold; }
.boxer__fact { position: relative; float: left; width: 240px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-right: 30px; margin-bottom: 20px; padding: 65px 30px 50px; background: #e9700d; color: white; font-family: "PT Sans", sans-serif; font-size: 14px; }
.boxer__fact:before { content: ""; position: absolute; top: 30px; left: 30px; background: url('../img/icons-s46ab90ff26.png') 0 -834px no-repeat; width: 25px; height: 23px; }
@media only screen and (max-width: 568px) { .boxer__fact { width: 100%; } }
.boxer__media { position: relative; width: 400px; float: left; }
@media only screen and (max-width: 1200px) { .boxer__media { width: 320px; } }
@media only screen and (max-width: 960px) { .boxer__media { width: 32%; } }
@media only screen and (max-width: 767px) { .boxer__media { width: 100%; } }
.boxer__media ul { *zoom: 1; }
.boxer__media ul:after { content: " "; display: table; clear: both; }
.boxer__media ul li { width: 50%; float: left; font-size: 0; box-shadow: 0 40px 40px -28px black; }
.boxer__media ul li img { width: 100%; }

.stats { padding: 30px 30px 10px; *zoom: 1; font-weight: bold; font-size: 16px; }
.stats:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 960px) { .stats { padding: 15px 15px 10px; } }
@media only screen and (max-width: 450px) { .stats { margin-left: -35px; padding: 15px 15px 15px; } }
.stats__col { float: left; width: 180px; margin-left: 60px; }
.stats__col:first-child { margin-left: 0; width: 80px; }
@media only screen and (max-width: 1200px) { .stats__col { width: 172px; margin-left: 50px; } }
@media only screen and (max-width: 960px) { .stats__col { width: 33%; margin-left: 7%; }
  .stats__col:first-child { width: 20%; } }
@media only screen and (max-width: 450px) { .stats__col { width: 180px; margin-left: 35px; margin-bottom: 30px; }
  .stats__col:first-child { width: 75px; margin-left: 35px; } }
.stats__item { padding: 25px 0 20px; border-top: 1px solid #333333; }
.stats__item:first-child { padding: 0 0 20px; border-top: none; }
@media only screen and (max-width: 1200px) { .stats__item { padding: 5px 0 20px; } }
@media only screen and (max-width: 960px) { .stats__item { padding: 5px 0 0; } }
.stats__title { font-family: "PT Sans", sans-serif; color: #4d4d4d; font-size: 12px; margin-bottom: 3px; }
.stats__value span { color: #e9700d; }
@media only screen and (max-width: 1200px) { .stats__value { font-size: 14px; } }

.out_error .header { position: relative; }
.out_error .logo { float: none; height: auto; margin: 0 auto; }
.out_error .logo a { display: block; position: relative; background: transparent; }
.out_error .container { overflow: hidden; min-height: 600px; }
.out_error .content { position: relative; }
.out_error .content__bg { position: absolute; top: -80px; left: 0; right: 0; height: 717px; background: url(../img/gloves-full.png) 50% 0 no-repeat; z-index: 1; }
.out_error .content__in { position: relative; z-index: 2; }
.out_error .menu { float: none; text-align: center; }
.out_error .menu li { float: none; display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 960px) { .out_error .menu { display: block; width: 160px; margin: 0 auto; } }
@media only screen and (max-width: 960px) and (max-width: 767px) { .out_error .menu li { display: block; border-top: 1px solid #333333; }
  .out_error .menu li:first-child { border-top: none; }
  .out_error .menu li a { height: 60px; line-height: 60px; } }

.error { padding: 80px 0 100px; max-width: 420px; margin: 0 auto; text-align: center; }
@media only screen and (max-width: 767px) { .error { padding: 80px 0 50px; } }
.error__title { font-family: "sports_worldregular", Arial, serif; font-size: 40px; line-height: 1; color: white; }
@media only screen and (max-width: 767px) { .error__title { font-size: 32px; } }
@media only screen and (max-width: 480px) { .error__title { font-size: 22px; } }
.error__number { font-family: "sports_worldregular", Arial, serif; font-size: 100px; line-height: 1; color: #e9700d; }
.error__hint { font-size: 24px; color: white; }

.main__topper { *zoom: 1; background: #121212; }
.main__topper:after { content: " "; display: table; clear: both; }

.main__info { float: left; width: 400px; min-height: 400px; padding: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #cb5700; }
@media only screen and (max-width: 1200px) { .main__info { width: 320px; } }
@media only screen and (max-width: 960px) { .main__info { width: 33%; } }
@media only screen and (max-width: 767px) { .main__info { width: 100%; min-height: 1px; } }

.main__block { border-bottom: 1px solid #ed8d3d; padding-bottom: 40px; font-size: 24px; }
@media only screen and (max-width: 767px) { .main__block { border-bottom: none; } }

.main__text { float: right; width: 800px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 30px; font-family: "PT Sans", sans-serif; }
.main__text .h2 { margin-bottom: 20px; }
.main__text p { margin-bottom: 30px; }
@media only screen and (max-width: 1200px) { .main__text { width: 640px; } }
@media only screen and (max-width: 960px) { .main__text { width: 67%; } }
@media only screen and (max-width: 767px) { .main__text { width: 100%; } }

.parthners__title { height: 50px; line-height: 50px; background: #050505; padding: 0 20px; text-transform: uppercase; color: white; font-size: 14px; }
.parthners__row { *zoom: 1; display: inline-block; vertical-align: top; box-shadow: 0 40px 40px -28px black; }
.parthners__row:after { content: " "; display: table; clear: both; }
.parthners__row:nth-child(2n) .parthners__item:nth-child(2n) { background: #121212; }
.parthners__row:nth-child(2n) .parthners__item:nth-child(2n):hover { background: black; }
.parthners__row:nth-child(2n) .parthners__item:nth-child(2n+1) { background: #1a1a1a; }
.parthners__row:nth-child(2n) .parthners__item:nth-child(2n+1):hover { background: black; }
@media only screen and (max-width: 960px) { .parthners__row { display: block; box-shadow: none; } }
.parthners__item { position: relative; float: left; width: 300px; height: 240px; background: #121212; text-align: center; text-decoration: none; box-shadow: 0 40px 40px -28px black; }
@media only screen and (max-width: 1200px) { .parthners__item { width: 240px; height: 200px; } }
@media only screen and (max-width: 960px) { .parthners__item { width: 25%; height: 0; padding-bottom: 25%; } }
@media only screen and (max-width: 767px) { .parthners__item { width: 100%; padding-bottom: 50%; } }
@media only screen and (max-width: 360px) { .parthners__item { padding-bottom: 0; height: 200px; } }
.parthners__item:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.parthners__item:hover { background: black; }
.parthners__item:hover .parthners__hover { opacity: 1; }
.parthners__item:hover .parthners__name { color: white; }
.parthners__item:nth-child(2n) { background: #1a1a1a; }
.parthners__item:nth-child(2n):hover { background: black; }
.parthners__item img { display: inline-block; vertical-align: middle; }
.parthners__img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.parthners__img:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.parthners__name { position: absolute; bottom: 24px; right: 0; left: 0; text-align: center; color: #e9700d; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.parthners__name:hover { color: inherit; }
@media only screen and (max-width: 960px) { .parthners__name { bottom: 14px; } }
.parthners__hover { position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.parthners__hover:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.parthners__hover img { display: inline-block; vertical-align: middle; }

.company__title { height: 50px; line-height: 50px; background: #050505; padding: 0 20px; text-transform: uppercase; color: white; font-size: 14px; }
.company__list { *zoom: 1; }
.company__list:after { content: " "; display: table; clear: both; }
.company__item { position: relative; float: left; width: 400px; padding-bottom: 33.3%; }
@media only screen and (max-width: 1200px) { .company__item { width: 320px; } }
@media only screen and (max-width: 960px) { .company__item { width: 33.3333%; } }
@media only screen and (max-width: 700px) { .company__item { width: 50%; padding-bottom: 50%; box-shadow: 0 40px 40px -28px black; } }
@media only screen and (max-width: 480px) { .company__item { width: 100%; padding-bottom: 100%; } }
.company__img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; font-size: 0; z-index: 1; }
.company__img img { width: 100%; height: 100%; }
.company__workplace { position: absolute; bottom: 30px; left: 38px; right: 38px; font-family: "sports_worldregular", Arial, serif; color: black; font-size: 16px; line-height: 1; z-index: 2; }
.company__workplace span { background: white; line-height: 1.2; box-shadow: 8px 0 0 0 white, -8px 0 0 0 white; }
@media only screen and (max-width: 900px) { .company__workplace { bottom: 15px; left: 23px; font-size: 14px; } }
@media only screen and (max-width: 480px) { .company__workplace { font-size: 16px; } }
.company__name { position: absolute; bottom: 70px; left: 38px; right: 38px; font-family: "sports_worldregular", Arial, serif; line-height: 1; color: white; text-decoration: none; font-size: 24px; z-index: 2; }
.company__name:hover span { background: #cb5700; box-shadow: 8px 0 0 0 #cb5700, -8px 0 0 0 #cb5700; }
.company__name span { line-height: 1.2; background: #e9700d; box-shadow: 8px 0 0 0 #e9700d, -8px 0 0 0 #e9700d; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
@media only screen and (max-width: 900px) { .company__name { bottom: 55px; left: 23px; font-size: 20px; } }
@media only screen and (max-width: 480px) { .company__name { font-size: 24px; } }

.callback { position: relative; display: inline-block; height: 50px; width: 220px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #e97313; padding: 0 0 0 40px; font-weight: bold; font-size: 14px; text-transform: uppercase; color: white; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.callback:before { content: ""; position: absolute; top: 16px; left: 15px; background: url('../img/icons-s46ab90ff26.png') 0 -463px no-repeat; width: 20px; height: 17px; }
.callback:after { content: "»"; display: inline-block; margin-left: 3px; font-weight: bold; font-size: 14px; font-family: "Roboto", sans-serif; }
.callback:hover { background: #cb5700; }
.main__info .callback { margin-top: 40px; }

.contacts__topper { padding-bottom: 60px; border-bottom: 1px solid #333333; font-family: "PT Sans", sans-serif; font-size: 16px; color: white; }
.contacts__topper p { margin-bottom: 5px; }
.contacts__topper a { display: inline-block; margin: 34px 0 0; text-decoration: none; color: #e9700d; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.contacts__topper a:hover { color: #cb5700; }

.contactlist { font-size: 0; padding-top: 30px; margin-left: -5%; }
.contactlist > li { display: inline-block; vertical-align: top; width: 45%; margin-bottom: 75px; margin-left: 5%; font-size: 16px; color: white; }
@media only screen and (max-width: 860px) { .contactlist > li { width: 100%; margin-bottom: 35px; } }
.contactlist > li p { margin-bottom: 5px; }
.contactlist .contacts__name { font-size: 24px; margin-bottom: 20px; }

.main_contacts { background: transparent; box-shadow: none; }
.main_contacts .main__topper { background: transparent; }
.main_contacts .main__text { background: #121212; box-shadow: 0 40px 40px -28px black; }
@media only screen and (max-width: 860px) { .main_contacts .main__text { width: 100%; } }
.main_contacts .main__info { min-height: 340px; box-shadow: 0 40px 40px -28px black; }
@media only screen and (max-width: 860px) { .main_contacts .main__info { width: 100%; } }
@media only screen and (max-width: 767px) { .main_contacts .main__block { border-bottom: 1px solid #ed8d3d; } }

@media only screen and (max-width: 767px) { .event .banner { display: block; } }
.event__content { *zoom: 1; }
.event__content:after { content: " "; display: table; clear: both; }
.event__gallery { float: left; width: 400px; *zoom: 1; }
.event__gallery:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1200px) { .event__gallery { width: 320px; } }
@media only screen and (max-width: 960px) { .event__gallery { width: 33%; } }
@media only screen and (max-width: 600px) { .event__gallery { width: 100%; } }
.event__gallery li { float: left; width: 200px; font-size: 0; overflow: hidden; height: 200px; }
.event__gallery li img { width: 100%; height: 100%; }
@media only screen and (max-width: 1200px) { .event__gallery li { width: 160px; height: 160px; } }
@media only screen and (max-width: 960px) { .event__gallery li { width: 50%; height: auto; } }
.event__article { float: right; width: 800px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 30px; }
@media only screen and (max-width: 1200px) { .event__article { width: 640px; } }
@media only screen and (max-width: 960px) { .event__article { width: 67%; padding: 20px; } }
@media only screen and (max-width: 600px) { .event__article { width: 100%; } }
.event__article .h3 { margin-bottom: 30px; }
.event__article p { font-family: "PT Sans", sans-serif; font-size: 16px; margin-bottom: 30px; }

.post { *zoom: 1; }
.post:after { content: " "; display: table; clear: both; }
.post__avatar { float: left; width: 400px; height: 400px; font-size: 0; text-align: center; }
@media only screen and (max-width: 1200px) { .post__avatar { width: 320px; height: 320px; } }
@media only screen and (max-width: 960px) { .post__avatar { width: 33%; height: auto; } }
@media only screen and (max-width: 767px) { .post__avatar { width: 100%; } }
.post__avatar img { width: 100%; height: 100%; max-width: 400px; }
@media only screen and (max-width: 767px) { .post__avatar img { height: auto; } }
.post__body { float: right; width: 800px; min-height: 400px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 30px; background: #1a1a1a; font-family: "PT Sans", sans-serif; font-size: 16px; }
@media only screen and (max-width: 1200px) { .post__body { width: 640px; } }
@media only screen and (max-width: 960px) { .post__body { width: 67%; } }
@media only screen and (max-width: 767px) { .post__body { width: 100%; padding: 20px; } }
.post__body .date { margin-bottom: 20px; }
.post__body p, .post__body .h3 { margin-bottom: 30px; }

.media { float: left; width: 400px; background: #050505; box-shadow: 0 40px 40px -28px black; }
@media only screen and (max-width: 1200px) { .media { width: 320px; } }
@media only screen and (max-width: 960px) { .media { width: 33%; } }
@media only screen and (max-width: 767px) { .media { width: 100%; } }
.media__title { position: relative; height: 50px; padding-left: 50px; font-size: 14px; line-height: 50px; font-weight: bold; text-transform: uppercase; background: #050505; }
.media__title:before { content: ""; position: absolute; top: 14px; left: 14px; background: url('../img/icons-s46ab90ff26.png') 0 -519px no-repeat; width: 22px; height: 22px; }
.media__list { *zoom: 1; }
.media__list:after { content: " "; display: table; clear: both; }
.media__list > li { float: left; width: 100px; height: 100px; }
@media only screen and (max-width: 1200px) { .media__list > li { width: 80px; height: 80px; } }
@media only screen and (max-width: 960px) { .media__list > li { width: 25%; height: auto; } }
@media only screen and (max-width: 900px) { .media__list > li { width: 50%; } }
@media only screen and (max-width: 767px) { .media__list > li { width: 25%; } }
.media__list > li a { display: block; font-size: 0; }
.media__list > li a img { width: 100%; height: 100%; }
@media only screen and (max-width: 767px) { .media__list > li a img { height: auto; } }
.media__video { position: relative; }
.media__video:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -14px 0 0 -10px; background: url('../img/icons-s46ab90ff26.png') 0 -684px no-repeat; width: 21px; height: 28px; }

.topical { float: right; width: 800px; background: #1a1a1a; box-shadow: 0 40px 40px -28px black; }
@media only screen and (max-width: 1200px) { .topical { width: 640px; } }
@media only screen and (max-width: 960px) { .topical { width: 67%; } }
@media only screen and (max-width: 767px) { .topical { width: 100%; } }
.topical__title { position: relative; height: 50px; padding-left: 50px; font-size: 14px; line-height: 50px; font-weight: bold; text-transform: uppercase; background: #050505; }
.topical__title:before { content: ""; position: absolute; top: 14px; left: 14px; background: url('../img/icons-s46ab90ff26.png') 0 -435px no-repeat; width: 22px; height: 18px; }

.item { display: table; width: 100%; }
@media only screen and (max-width: 400px) { .item { display: block; } }
.item__img { display: table-cell; vertical-align: top; width: 140px; font-size: 0; }
@media only screen and (max-width: 400px) { .item__img { display: block; width: 100%; height: 160px; overflow: hidden; } }
.item__img a { display: block; }
.item__img img { width: 100%; height: auto; }
.item__content { position: relative; display: table-cell; vertical-align: top; padding: 20px; font-size: 14px; }
@media only screen and (max-width: 400px) { .item__content { display: block; } }
.item__link { display: inline-block; margin-bottom: 15px; color: #e9700d; text-decoration: none; font-size: 16px; font-family: "PT Sans", sans-serif; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.item__link:hover { color: #cb5700; }

.filters { float: right; *zoom: 1; }
.filters:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 600px) { .filters { float: none; clear: left; padding-left: 10px; } }
.filters__select { float: left; height: 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 0; font-size: 0; margin-right: 120px; }
@media only screen and (max-width: 860px) { .filters__select { margin-right: 30px; } }
.filters__select > span, .filters__select .select { display: inline-block; vertical-align: middle; }
.filters__select > span { font-family: "PT Sans", sans-serif; font-size: 12px; color: #4d4d4d; line-height: 30px; }
@media only screen and (max-width: 860px) { .filters__select > span { display: none; } }
.filters__select .select { height: 30px; margin: 0 11px; }
@media only screen and (max-width: 600px) { .filters__select .select { margin: 0; } }
.filters__tabs { float: left; padding: 10px 10px 10px 0; }
.filters__tabs > ul { *zoom: 1; }
.filters__tabs > ul:after { content: " "; display: table; clear: both; }
.filters__tabs > ul li { float: left; }
.filters__tabs > ul li a { display: block; height: 30px; line-height: 30px; padding: 0 15px; text-decoration: none; color: white; font-weight: bold; font-size: 14px; text-transform: uppercase; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.filters__tabs > ul li a:hover { color: #e9700d; }
.filters__tabs > ul li a.is-active { background: #e9700d; }
.filters__tabs > ul li a.is-active:hover { color: white; }

.events { background: #050505; }
@media only screen and (max-width: 767px) { .events { display: none; padding-bottom: 50px; } }
.events.events_mob { display: none; padding-bottom: 50px; }
@media only screen and (max-width: 767px) { .events.events_mob { display: block; } }
.events__list { *zoom: 1; }
.events__list:after { content: " "; display: table; clear: both; }
.events__item { position: relative; float: left; width: 600px; height: 400px; }
@media only screen and (max-width: 1200px) { .events__item { width: 480px; height: 320px; } }
@media only screen and (max-width: 960px) { .events__item { width: 50%; height: auto; padding-bottom: 25%; } }
@media only screen and (max-width: 600px) { .events__item { width: 100%; padding-bottom: 50%; } }
.events__img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; font-size: 0; overflow: hidden; z-index: 1; }
.events__img img { width: 100%; height: 100%; }
@media only screen and (max-width: 960px) { .events__img img { height: auto; } }
.events__content { position: absolute; left: 16px; right: 16px; bottom: 16px; z-index: 2; line-height: 1; }
.events__content a { background: #e9700d; text-decoration: none; color: white; font-size: 24px; line-height: 1.2; font-family: "sports_worldregular", Arial, serif; text-transform: uppercase; box-shadow: 6px 0 0 0 #e9700d, -6px 0 0 0 #e9700d; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.events__content a:hover { color: white; background: black; box-shadow: 6px 0 0 0 black, -6px 0 0 0 black; }
.events .slick-prev { left: 0; bottom: 0; margin-left: 0; }
.events .slick-next { right: 0; bottom: 0; margin-right: 0; }
.events .slick-dots { position: absolute; bottom: 0; left: 50px; right: 50px; text-align: center; }
.events .slick-dots li { display: inline-block; height: 50px; line-height: 50px; margin: 0 17px; }
.events .slick-dots li button { vertical-align: middle; font: 0/0 a; text-shadow: none; color: transparent; width: 7px; height: 7px; border-radius: 50%; background: white; }
.events .slick-dots li.slick-active button { background: #e9700d; }

.rss { float: left; margin: 0 20px; height: 50px; line-height: 50px; }
.rss a { position: relative; display: inline-block; text-decoration: none; color: white; font-weight: bold; font-size: 14px; text-transform: uppercase; padding-right: 30px; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.rss a:before { content: ""; position: absolute; top: 50%; margin-top: -7px; right: 0px; background: url('../img/icons-s46ab90ff26.png') 0 -795px no-repeat; width: 14px; height: 14px; }
.rss a:hover { color: #e9700d; }

@media only screen and (max-width: 767px) { .news { display: none; padding-bottom: 50px; } }
.news.news_mob { display: none; padding-bottom: 50px; }
@media only screen and (max-width: 767px) { .news.news_mob { display: block; } }
.news .slick-prev { left: 0; bottom: 0; margin-left: 0; }
.news .slick-next { right: 0; bottom: 0; margin-right: 0; }
.news .slick-dots { position: absolute; bottom: 0; left: 50px; right: 50px; text-align: center; }
.news .slick-dots li { display: inline-block; height: 50px; line-height: 50px; margin: 0 17px; }
.news .slick-dots li button { vertical-align: middle; font: 0/0 a; text-shadow: none; color: transparent; width: 7px; height: 7px; border-radius: 50%; background: white; }
.news .slick-dots li.slick-active button { background: #e9700d; }
.news__list { *zoom: 1; }
.news__list:after { content: " "; display: table; clear: both; }

.item_news { float: left; width: 50%; background: #121212; }
.item_news:nth-child(4n+1), .item_news:nth-child(4n) { background: #1a1a1a; }
.item_news:nth-child(4n+1) .item__content:before, .item_news:nth-child(4n) .item__content:before { width: 0px; height: 0px; border-style: solid; border-width: 11px 11px 11px 0; border-color: transparent #1a1a1a transparent transparent; }
@media only screen and (max-width: 767px) { .item_news { width: 100%; }
  .item_news:nth-child(4n+1), .item_news:nth-child(4n) { background: #121212; }
  .item_news:nth-child(4n+1) .item__content:before, .item_news:nth-child(4n) .item__content:before { width: 0px; height: 0px; border-style: solid; border-width: 11px 11px 11px 0; border-color: transparent #121212 transparent transparent; }
  .item_news:nth-child(2n+1) { background: #1a1a1a; }
  .item_news:nth-child(2n+1) .item__content:before { width: 0px; height: 0px; border-style: solid; border-width: 11px 11px 11px 0; border-color: transparent #1a1a1a transparent transparent; } }
@media only screen and (max-width: 479px) { .item_news .item__content { display: block; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .item_news .item__content:before { display: none; }
  .item_news .item__img { display: block; width: 100%; height: 160px; overflow: hidden; } }
.item_news .item__content:before { content: ""; position: absolute; top: 50%; left: -11px; margin-top: -11px; width: 0px; height: 0px; border-style: solid; border-width: 11px 11px 11px 0; border-color: transparent #121212 transparent transparent; }

.photogallery { font-size: 0; }
@media only screen and (max-width: 600px) { .photogallery { box-shadow: 0 40px 40px -28px black; } }
.photogallery li { display: inline-block; vertical-align: top; width: 200px; height: 200px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; font-size: 0; border: 1px solid #1f1f1f; box-shadow: 0 40px 40px -28px black; }
@media only screen and (max-width: 1200px) { .photogallery li { width: 160px; height: 160px; } }
@media only screen and (max-width: 960px) { .photogallery li { width: 25%; height: auto; } }
@media only screen and (max-width: 600px) { .photogallery li { width: 50%; box-shadow: none; } }
.photogallery li img { width: 100%; height: 100%; }
@media only screen and (max-width: 960px) { .photogallery li img { height: auto; } }
