// styles for boxer page
.boxer
    &__topper
        display: table
        width: 100%
        background: #1a1a1a
        +r(767)
            display: block
            +clr  
    &__avatar    
        display: table-cell
        vertical-align: top
        width: 400px
        height: 400px
        overflow: hidden
        font-size: 0
        background: #121212 
        img
            width: 100%
        +r(1200)
            width: 320px
            height: 320px
        +r(960)
            width: 32%
            height: auto
        +r(767)
            display: block
            width: 100%
            text-align: center
            img
                display: inline-block
                width: 320px
                height: auto
    &__info
        vertical-align: top
        display: table-cell
        width: 800px
        +r(1200)
            width: 640px
        +r(960)
            width: 68%
        +r(767)
            display: block
            width: 100%        
    &__title
        background: $orange
        color: #fff
        padding: 0 30px          
    &__content
        +clr
    &__about
        position: relative
        width: 800px
        float: right
        background: #121212
        +box
        padding: 30px
        +ptsans
        font-size: 16px
        box-shadow: 0 40px 40px -28px #000
        h3
            margin-bottom: 20px
        p
            margin-bottom: 30px
        h4
            margin-bottom: 10px
            font-size: 24px
            +roboto
        +r(1200)
            width: 640px
        +r(960)
            width: 68%
            font-size: 14px
        +r(767)
            width: 100%
            padding: 20px             
    &__head
        border-bottom: 1px solid #333
        margin-bottom: 30px
        +roboto
        font-weight: bold
    &__fact
        position: relative
        float: left
        width: 240px
        +box
        margin-right: 30px
        margin-bottom: 20px 
        padding: 65px 30px 50px
        background: $orange
        color: #fff
        +ptsans
        font-size: 14px
        &:before
            content: ""
            position: absolute
            top: 30px
            left: 30px
            +s(star)
        +r(568)
            width: 100%                               
    &__media
        position: relative
        width: 400px
        float: left
        +r(1200)
            width: 320px
        +r(960)
            width: 32%
        +r(767)
            width: 100%        
        ul
            +clr
            li
                width: 50%
                float: left
                font-size: 0
                box-shadow: 0 40px 40px -28px #000
                img
                    width: 100%     
.stats
    padding: 30px 30px 10px
    +clr
    font-weight: bold
    font-size: 16px
    +r(960)
        padding: 15px 15px 10px
    +r(450)
        margin-left: -35px
        padding: 15px 15px 15px     
    &__col
        float: left
        width: 180px
        margin-left: 60px 
        &:first-child
            margin-left: 0
            width: 80px
        +r(1200)
            width: 172px
            margin-left: 50px
        +r(960)
            width: 33%
            margin-left: 7%
            &:first-child
                width: 20%
        +r(450)
            width: 180px
            margin-left: 35px
            margin-bottom: 30px
            &:first-child
                width: 75px
                margin-left: 35px                 
    &__item
        padding: 25px 0 20px
        border-top: 1px solid #333 
        &:first-child
            padding: 0 0 20px
            border-top: none
        +r(1200)
            padding: 5px 0 20px
        +r(960)
            padding: 5px 0 0      
    &__title
        +ptsans
        color: #4d4d4d
        font-size: 12px
        margin-bottom: 3px
    &__value
        span
            color: $orange
        +r(1200)
            font-size: 14px                                                 