// mixins
+font(sports_worldregular, sports_world-regular)
=sport
	font-family: 'sports_worldregular', Arial, serif
=roboto
	font-family: 'Roboto', sans-serif
=ptsans
	font-family: 'PT Sans', sans-serif
//vars
$orange: #e9700d

body
	+roboto 
	font-size: 16px
	color: #fff 
	line-height: 1.4 
	&.no-scroll
		overflow: hidden
	
// common blocks      
.out
	position: relative
	margin: 0 auto -190px
	min-height: 100%
	height: auto !important
	height: 100%
	background: url(../img/bg.jpg)
	-webkit-background-size: 100% 100% 
	-o-background-size: 100% 100% 
	background-size: 100% 100%
	+r(600)
		margin: 0 auto -380px 
.push
	height: 190px
	+r(600)
		height: 380px	
=wrap
	max-width: 1200px
	margin: 0 auto
	+r(1200)
		max-width: 960px 
.container
	+wrap	
=shadow
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 5%
		right: 5%
		height: 1px
		+box-shadow(0 0px 40px 8px #000)
.date
	color: #464646
	font-size: 12px			
.h2
	+sport
	font-size: 70px
	color: #fff
	text-transform: uppercase
	+r(1200)
		font-size: 56px
	+r(960)
		font-size: 42px
	+r(480)
		font-size: 40px		
.h3
	+sport
	color: #fff
	font-size: 40px
	text-transform: uppercase
	+r(768)
		font-size: 36px
	+r(480)
		font-size: 28px
	+r(360)
		font-size: 22px

// header
.header
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 9
	+r(960)
		position: relative
		height: 100px
	&__sticky
		position: fixed
		top: 0
		right: 0
		left: 0
		height: 50px
		background: rgba(#000, .6)
		&.is-scroll
			.logo
				a
					height: 50px
					&:before
						opacity: 0
						+transform(translateY(-100%))
						+r(960)
							opacity: 1
							+transform(translateY(0))
					&:after
						opacity: 1
						+r(960)
							opacity: 0 			
		+r(960)
			height: 100px
	&__in
		position: relative
		+wrap
		+clr
.menu-btn
	display: none
	position: relative
	float: left
	width: 100px
	height: 100px
	background: #212121
	&:before
		content: ""
		position: absolute
		top: 30px
		left: 25px
		+s(menu)
	+r(960)
		display: block	   			
.logo
	position: relative
	float: left
	width: 160px
	height: 50px
	a
		position: absolute
		top: 0
		left: 0
		width: 160px 
		height: 240px
		background: #000
		+hide-text
		&:before
			content: ""
			position: absolute
			top: 27px
			left: 29px
			+s(logo)
			-moz-transition: opacity 300ms, transform 300ms
			-o-transition: opacity 300ms, transform 300ms
			-webkit-transition: opacity 300ms, transform 300ms
			-ms-transition: opacity 300ms, transform 300ms
			transition: opacity 300ms, transform 300ms
			z-index: 2
		&:after
			content: ""
			position: absolute
			top: 4px
			left: 27px
			+s(logo-scroll)
			opacity: 0
			+tr(opacity 300ms 150ms)
			z-index: 1	
		+r(960)
			height: 100px
			width: 170px
			&:before
				+s(logo-small)	 
.menu
	float: left
	+r(960)
		display: none
	&__close
		display: none
		position: absolute
		top: 30px
		left: 30px 
		+r(960)
			display: block	 
	ul
		+clr
		li
			float: left
			a
				display: block
				padding: 0 20px
				font-weight: bold
				font-size: 14px
				text-transform: uppercase
				color: #fff  
				line-height: 50px
				text-decoration: none
				+tr(all 200ms)
				&:hover
					color: $orange
				&.is-active
					background: $orange
					&:hover
						color: #fff
.menu-popup
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	overflow-y: auto  
	background: #121212
	z-index: 10
	&__close
		position: absolute
		top: 30px
		left: 30px
		+s(menu-close)
	ul
		text-align: center
		width: 170px
		margin: 120px auto  
		li
			border-top: 1px solid #333
			line-height: 60px
			a
				display: inline-block
				height: 60px
				font-weight: bold
				font-size: 18px
				color: #fff
				text-transform: uppercase
				text-decoration: none
				&:hover
					color: $orange
			&:first-child
				border-top: none						 
.lang
	float: right
	+clr
	li
		float: left
		+r(960)
			float: none
		a
			display: block
			width: 50px
			text-align: center
			font-weight: bold
			color: #fff
			line-height: 50px
			font-size: 14px
			text-decoration: none
			text-transform: uppercase
			color: #636363
			&:hover
				color: $orange
			&.is-active
				background: $orange
				color: #fff
				&:hover
					color: #fff	

// footer
.footer
	height: 190px
	+r(600)
		height: 380px
	&__in
		+wrap
		+clr
		padding-top: 60px
		+ptsans
		font-size: 12px
		color: #4d4d4d
		a
			color: $orange
			text-decoration: none
			&:hover
				text-decoration: underline
		+r(600)
			padding: 60px 20px 0 
			text-align: center		
	&__logo
		float: left
		position: relative
		width: 150px
		margin-right: 55px
		text-align: center
		a
			display: inline-block
			vertical-align: top
			+hide-text
			+s(logo-f)
		+r(960)
			margin-right: 25px
		+r(600)
			margin: 0 auto 30px
			float: none 		
	&__copyrights
		position: relative
		float: left
		width: 20%
		margin-right: 25px
		+r(600)
			float: none
			width: 100%
			margin-bottom: 30px 			
	&__contacts
		position: relative
		float: left
		width: 32%
		+r(600)
			float: none
			width: 100%
			margin-bottom: 30px
.qb-interactive
	position: relative
	float: right
	width: 14%
	+box
	padding-left: 35px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(qb)
	+r(960)
		width: 20%
	+r(600)
		float: none
		width: 150px
		margin: 0 auto
		
// breadcrumbs
.breadcrumbs
	background: #050505
	&.breadcrumbs_inner
		+r(360)
			& > ul
				li
					&:first-child
						display: none
	&.breadcrumbs_events
		+clr
		& > ul
			float: left					 				
	& > ul
		+clr
		li
			float: left
			position: relative
			margin-left: 32px 
			height: 50px
			line-height: 50px 
			&:before
				content: "«"
				position: absolute
				top: 0px
				left: -11px
				font-weight: bold
				font-size: 14px
				color: $orange
			a
				font-size: 14px
				color: #fff
				font-weight: bold
				text-transform: uppercase
				text-decoration: none
				+tr(color 150ms)
				&:hover
					color: $orange	
			&:first-child
				background: #e87312
				padding: 0 22px
				margin-left: 0 
				a
					+sport
					font-size: 28px
					&:hover
						color: #fff
				&:before
					display: none
					
// select
.select
	position: relative
	&__text
		position: relative
		display: block
		height: 30px
		line-height: 30px
		+text-overflow 
		padding: 0 40px 0 18px 
		background: $orange
		font-weight: bold
		font-size: 14px
		color: #fff
		cursor: pointer
		+nosel
		&:before
			content: ""
			position: absolute
			top: 11px
			right: 11px
			+s(select) 
	select
		visibility: hidden
	&__list
		position: absolute
		top: 30px
		left: 0
		right: 0
		background: $orange
		z-index: 9
		font-size: 14px
		a
			display: block
			padding: 5px 18px
			text-decoration: none
			color: #fff
			+tr(background 200ms)
			&:hover
				background: #cb5700 
				
//pagination
.pagination
	+clr
	height: 50px
	background: #050505
	&__back, &__forward
		position: relative
		width: 50px
		height: 50px
		background: $orange
		+tr(background 200ms)
		&:hover
			background: #cb5700
		&.is-disabled
			cursor: default
			&:hover
				background: $orange 
			&:before
				opacity: 0.5	 
	&__back
		float: left
		&:before
			content: ""
			position: absolute
			top: 14px
			left: 18px
			+s(prev)
	&__forward
		float: right
		&:before
			content: ""
			position: absolute
			top: 14px
			left: 20px
			+s(next)
	&__pager
		overflow: hidden
		text-align: center
		padding: 10px 0 
		li
			display: inline-block
			vertical-align: middle
			margin: 0 5px 
			color: #333
			font-weight: bold
			font-size: 14px
			a
				display: block
				height: 30px
				width: 30px
				text-align: center
				line-height: 30px 
				background: $orange
				color: #fff
				text-decoration: none
				font-size: 14px
				font-weight: bold
				+tr(background 200ms)
				&:hover
					background: #cb5700
// popup
.popup-layout
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	background: rgba(#1f1f1f, .9)
	text-align: center
	z-index: 999
	&:before
		content: ""
		display: inline-block
		width: 0
		height: 100%
		vertical-align: middle
	+r(600)
		overflow-y: scroll
		&:before
			display: none
						 
.popup
	position: relative
	display: inline-block
	vertical-align: middle
	width: 600px
	+box
	padding: 30px 55px 40px
	background: #e97313
	box-shadow: 0 40px 40px -28px #000
	+r(600)
		width: 100%
		padding: 30px 20px 20px  
	&__title
		margin-bottom: 20px
		padding-right: 30px
		text-align: left
		+sport
		font-size: 28px
		text-transform: uppercase
		color: #fff
	&__close
		position: absolute
		top: 20px
		right: 20px
		+s(fancy-close)
.form
	position: relative
	text-align: left
	&__row
		margin-bottom: 15px
		&.is-error
			.input
				border: 2px solid #1f1f1f
				box-shadow: none
	&__title
		float: left
		margin-bottom: 3px
		color: #f3b785
		font-size: 16px
		+ptsans
	&__error
		float: right
		color: #1f1f1f
		font-weight: bold		
.input, .textarea
	width: 100%
	clear: both
	+box
	height: 50px
	padding: 0 22px 
	background: #cb5700
	box-shadow: inset 0 2px 2px rgba(17,16,13,.3)
	color: #fff
	font-size: 16px
	+ptsans
	+gpu
	&:focus
		box-shadow: none
		border: 2px solid #f3b785
.textarea
	height: 100px
	border: none
	padding: 10px 22px
	resize: none  			





































































































