// mixins
+font(sports_worldregular, sports_world-regular)
=sport
	font-family: 'sports_worldregular', Arial, serif
=roboto
	font-family: 'Roboto', sans-serif
=ptsans
	font-family: 'PT Sans', sans-serif
//vars
$orange: #e9700d

body
	+roboto 
	font-size: 16px
	color: #fff 
	line-height: 1.4 
	&.no-scroll
		overflow: hidden
	
// common blocks      
.out
	position: relative
	margin: 0 auto -190px
	min-height: 100%
	height: auto !important
	height: 100%
	background: url(../img/bg.jpg)
	-webkit-background-size: 100% 100% 
	-o-background-size: 100% 100% 
	background-size: 100% 100%
	+r(600)
		margin: 0 auto -380px 
.push
	height: 190px
	+r(600)
		height: 380px	
=wrap
	max-width: 1200px
	margin: 0 auto
	+r(1200)
		max-width: 960px 
.container
	+wrap	
=shadow
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 5%
		right: 5%
		height: 1px
		+box-shadow(0 0px 40px 8px #000)
.date
	color: #464646
	font-size: 12px			
.h2
	+sport
	font-size: 70px
	color: #fff
	text-transform: uppercase
	+r(1200)
		font-size: 56px
	+r(960)
		font-size: 42px
	+r(480)
		font-size: 40px		
.h3
	+sport
	color: #fff
	font-size: 40px
	text-transform: uppercase
	+r(768)
		font-size: 36px
	+r(480)
		font-size: 28px
	+r(360)
		font-size: 22px

// header
.header
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 9
	+r(960)
		position: relative
		height: 100px
	&__sticky
		position: fixed
		top: 0
		right: 0
		left: 0
		height: 50px
		background: rgba(#000, .6)
		+r(960)
			height: 100px
	&__in
		position: relative
		+wrap
		+clr
.menu-btn
	display: none
	position: relative
	float: left
	width: 100px
	height: 100px
	background: #212121
	&:before
		content: ""
		position: absolute
		top: 30px
		left: 25px
		+s(menu)
	+r(960)
		display: block	   			
.logo
	position: relative
	float: left
	width: 160px
	height: 50px
	a
		position: absolute
		top: 0
		left: 0
		width: 160px 
		height: 240px
		background: #000
		+hide-text
		&:before
			content: ""
			position: absolute
			top: 27px
			left: 29px
			+s(logo)
		+r(960)
			height: 100px
			width: 170px
			&:before
				+s(logo-small)	 
.menu
	float: left
	+r(960)
		display: none
	&__close
		display: none
		position: absolute
		top: 30px
		left: 30px 
		+r(960)
			display: block	 
	ul
		+clr
		li
			float: left
			a
				display: block
				padding: 0 20px
				font-weight: bold
				font-size: 14px
				text-transform: uppercase
				color: #fff  
				line-height: 50px
				text-decoration: none
				+tr(all 200ms)
				&:hover
					color: $orange
				&.is-active
					background: $orange
					&:hover
						color: #fff
.menu-popup
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	overflow-y: auto  
	background: #121212
	z-index: 10
	&__close
		position: absolute
		top: 30px
		left: 30px
		+s(menu-close)
	ul
		text-align: center
		width: 170px
		margin: 120px auto  
		li
			border-top: 1px solid #333
			line-height: 60px
			a
				display: inline-block
				height: 60px
				font-weight: bold
				font-size: 18px
				color: #fff
				text-transform: uppercase
				text-decoration: none
				&:hover
					color: $orange
			&:first-child
				border-top: none						 
.lang
	float: right
	+clr
	li
		float: left
		+r(960)
			float: none
		a
			display: block
			width: 50px
			text-align: center
			font-weight: bold
			color: #fff
			line-height: 50px
			font-size: 14px
			text-decoration: none
			text-transform: uppercase
			color: #636363
			&:hover
				color: $orange
			&.is-active
				background: $orange
				color: #fff
				&:hover
					color: #fff	

// footer
.footer
	height: 190px
	+r(600)
		height: 380px
	&__in
		+wrap
		+clr
		padding-top: 60px
		+ptsans
		font-size: 12px
		color: #4d4d4d
		a
			color: $orange
			text-decoration: none
			&:hover
				text-decoration: underline
		+r(600)
			padding: 60px 20px 0 
			text-align: center		
	&__logo
		float: left
		position: relative
		width: 150px
		margin-right: 55px
		text-align: center
		a
			display: inline-block
			vertical-align: top
			+hide-text
			+s(logo-f)
		+r(960)
			margin-right: 25px
		+r(600)
			margin: 0 auto 30px
			float: none 		
	&__copyrights
		position: relative
		float: left
		width: 20%
		margin-right: 25px
		+r(600)
			float: none
			width: 100%
			margin-bottom: 30px 			
	&__contacts
		position: relative
		float: left
		width: 32%
		+r(600)
			float: none
			width: 100%
			margin-bottom: 30px
.qb-interactive
	position: relative
	float: right
	width: 14%
	+box
	padding-left: 35px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(qb)
	+r(960)
		width: 20%
	+r(600)
		float: none
		width: 150px
		margin: 0 auto
		
// breadcrumbs
.breadcrumbs
	background: #050505 				
	ul
		+clr
		li
			float: left
			position: relative
			margin-left: 32px 
			height: 50px
			line-height: 50px 
			&:before
				content: "«"
				position: absolute
				top: 0px
				left: -11px
				font-weight: bold
				font-size: 14px
				color: $orange
			a
				font-size: 14px
				color: #fff
				font-weight: bold
				text-transform: uppercase
				text-decoration: none
				+tr(color 150ms)
				&:hover
					color: $orange	
			&:first-child
				background: #e87312
				padding: 0 22px
				margin-left: 0 
				a
					+sport
					font-size: 28px
					&:hover
						color: #fff
				&:before
					display: none

































































































