//styles for events page
.filters
    float: right
    +clr
    +r(600)
        float: none
        clear: left
        padding-left: 10px
    &__select
        float: left
        height: 50px
        +box
        padding: 10px 0  
        font-size: 0
        margin-right: 120px
        +r(860)
            margin-right: 30px
        & > span, .select
            display: inline-block
            vertical-align: middle
        & >span
            +ptsans
            font-size: 12px
            color: #4d4d4d
            line-height: 30px
            +r(860)
                display: none
        .select
            height: 30px
            margin: 0 11px
            +r(600)
                margin: 0 
    &__tabs
        float: left  
        padding: 10px 0                                              
        & > ul
            +clr
            li
                float: left
                a
                    display: block
                    height: 30px
                    line-height: 30px
                    padding: 0 15px 
                    text-decoration: none
                    color: #fff
                    font-weight: bold
                    font-size: 14px
                    text-transform: uppercase
                    +tr(color 200ms)
                    &:hover
                        color: $orange
                    &.is-active
                        background: $orange
                        &:hover
                            color: #fff 
.events
    background: #050505
    +r(767)
        display: none
        padding-bottom: 50px 
    &.events_mob
        display: none
        padding-bottom: 50px  
        +r(767)
            display: block
    &__list
        +clr
    &__item
        position: relative 
        float: left
        width: 600px
        height: 400px
        +r(1200)
            width: 480px
            height: 320px
        +r(960)
            width: 50%
            height: auto
            padding-bottom: 25%
        +r(600)
            width: 100%
            padding-bottom: 50%         
    &__img
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        font-size: 0
        overflow: hidden
        z-index: 1
        img
            width: 100%
            height: 100%
            +r(960)
                height: auto     
    &__content
        position: absolute
        left: 16px
        right: 16px
        bottom: 16px
        z-index: 2
        line-height: 1 
        a
            background: $orange
            text-decoration: none
            color: #fff
            font-size: 24px
            line-height: 1.2
            +sport
            text-transform: uppercase
            box-shadow: 6px 0 0 0 #e9700d, -6px 0 0 0 #e9700d
            +tr(all 200ms)
            &:hover
                color: #fff
                background: #000
                box-shadow: 6px 0 0 0 #000, -6px 0 0 0 #000
    .slick-prev
        left: 0
        bottom: 0
        margin-left: 0
    .slick-next
        right: 0
        bottom: 0     
        margin-right: 0       
    .slick-dots
        position: absolute
        bottom: 0
        left: 50px
        right: 50px
        text-align: center
        li
            display: inline-block
            height: 50px
            line-height: 50px
            margin: 0 17px 
            button
                vertical-align: middle
                +hidetext
                width: 7px
                height: 7px
                border-radius: 50%
                background: #fff 
            &.slick-active
                button
                    background: $orange              
                                                            