// Normally mainpage styles

// slick slider
.banner
	+wrap
	+r(767)
		display: none
	&__inner
		height: 240px
		overflow: hidden
		img
			position: relative
			width: 100%
			+r(1200)
				width: 960px
				height: 240px
				left: 50%
				+transform(translateX(-50%))
.slider
	position: relative
	&__item
		position: relative
		height: 530px
		overflow: hidden
		+r(960)
			height: 400px
	&__img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		font-size: 0
		img
			position: relative 
			width: 100%
			+r(800)
				width: 800px
				left: 50%
				+transform(translateX(-50%)) 	  
	&__content
		position: absolute
		bottom: 90px
		right: 0
		left: 0
		text-align: center
		z-index: 2
	&__date
		display: inline-block
		padding: 0 22px 
		+sport
		font-size: 40px
		color: #fff
		background: rgba(#000, 0.7)
		+r(768)
			font-size: 32px
		+r(480)
			font-size: 22px	
	&__title
		+sport
		font-size: 70px
		line-height: 1
		a
			position: relative
			line-height: 1.2	 	
			background: $orange
			text-decoration: none
			color: #fff
			+tr(background 200ms)
			box-shadow: 36px 0 0 0 #e9700d, -36px 0 0 0 #e9700d
			+shadow
			&:before
				z-index: -1
			&:hover
				background: #cb5700
		+r(768)
			font-size: 50px
			a
				box-shadow: 20px 0 0 0 #e9700d, -20px 0 0 0 #e9700d
				&:before
					display: none
		+r(480)
			font-size: 40px				 	
.slick-prev
	position: absolute
	top: 190px
	right: 50px
	width: 50px
	height: 50px
	background: $orange
	+hide-text
	+tr(background 200ms)
	&:before
		content: ""
		position: absolute
		top: 12px
		left: 17px
		+s(prev)
	&:hover
		background: #cb5700
	+r(768)
		top: auto
		bottom: 20px
		right: 50%
		margin-left: -50px 	 	
.slick-next
	position: absolute
	top: 190px
	right: 0
	width: 50px
	height: 50px
	background: $orange
	+hide-text
	+tr(background 200ms)		 
	&:before
		content: ""
		position: absolute
		top: 12px
		left: 19px
		+s(next)
	&:hover
		background: #cb5700
	+r(768)
		top: auto
		bottom: 20px
		right: 50%
		margin-right: -50px	
.main
	position: relative
	+clr
	background: #1a1a1a
	box-shadow: 0 40px 40px -28px #000
	&.main_business
		background: transparent
		box-shadow: none
.m-news
	float: left
	width: 500px
	+r(1200)
		width: 400px
	+r(960)
		width: 50%
	+r(600)
		width: 100%		
	&__item
		height: 200px  
		background: #121212
		&:nth-child(2n)
			background: #1a1a1a
			.m-news__info
				&:before
					+arr(11, 22, #1a1a1a, l)
		+r(1200)
			height: 160px
			font-size: 14px
		+r(960)
			&.is-removable
				display: none
		+r(320)
			height: auto								
	&__img
		float: left
		width: 200px
		height: 200px
		font-size: 0
		overflow: hidden
		img
			width: 100%
		+r(1200)
			width: 160px
			height: 160px
		+r(320)
			float: none
			width: 100%	 	
	&__info
		position: relative
		float: right
		height: 200px
		width: 300px
		padding: 15px 18px
		+box 
		&:before
			content: ""
			position: absolute
			top: 50%
			left: -11px
			margin-top: -11px 
			+arr(11, 22, #121212, l)
		+r(1200)
			width: 240px
			height: 160px
		+r(960)
			float: none
			overflow: hidden
			width: auto			
	&__link
		text-decoration: none
		font-size: 16px
		color: $orange
		+tr(color 200ms)
		&:hover
			color: #cb5700
		+r(1200)
			font-size: 14px					 
.m-events
	float: left
	width: 300px
	+r(1200)
		width: 240px
	+r(960)
		width: 50%
	+r(600)
		width: 100%		
	&__item
		position: relative
		height: 200px
		+r(1200)
			height: 160px
		+r(960)
			width: 50%
			float: left
		+r(320)
			width: 100%		
	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		font-size: 0
		z-index: 1
		overflow: hidden
		img
			width: 100%
			height: auto
	&__info
		position: absolute
		left: 15px
		bottom: 15px
		line-height: 1
		z-index: 2
	&__date, .m-events__title
		display: inline-block
		color: #fff
		line-height: 1.4
		text-transform: uppercase
		font-weight: bold
		font-size: 14px
		text-decoration: none
		span
			background: $orange
			box-shadow: 4px 0 0 0 #e9700d, -4px 0 0 0 #e9700d
			+tr(all 200ms)
		&:hover
			span
				background: #000
				box-shadow: 4px 0 0 0 #000, -4px 0 0 0 #000
		+r(768)
			font-size: 12px		 	
	&__passed
		margin-bottom: 10px
		a
			background: #fff
			color: #0d0d0d
			+sport
			font-size: 16px
			text-decoration: none
			box-shadow: 4px 0 0 0 #fff, -4px 0 0 0 #fff
.m-video
	float: left
	width: 200px
	+r(1200)
		width: 160px
	+r(960)
		width: 50%
	+r(600)
		width: 100%		
	&__item
		position: relative
		height: 200px
		+r(1200)
			height: 160px
		+r(960)
			float: left
			width: 50%
			height: auto
			padding-bottom: 50%	
	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		font-size: 0
		z-index: 1
		img
			width: 100%
			height: 100%
	&__play
		position: absolute
		top: 50%
		left: 50%
		margin: -10px 0 0 -14px 
		+s(play)
		z-index: 2			
.m-photo
	float: left
	width: 200px
	+r(1200)
		width: 160px
	+r(960)
		width: 50%
	+r(600)
		width: 100%		
	&__item
		position: relative
		height: 200px
		+r(1200)
			height: 160px
		+r(960)
			float: left
			width: 50%
			height: auto
			padding-bottom: 50% 	
	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		font-size: 0
		z-index: 1
		img
			width: 100%
			height: 100%			 		
.title
	position: relative
	padding-left: 70px
	height: 50px
	line-height: 50px
	background: #000  
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 50px
		height: 50px
		background: $orange
	&:after
		content: ""
		position: absolute
		top: 15px
		left: 13px
		+s(m-news)
	&.title_events
		&:after
			+s(m-events)	
	a
		position: relative
		display: inline-block
		font-weight: bold
		color: #fff
		text-transform: uppercase
		text-decoration: none
		&:after
			content: "»"
			position: absolute
			top: -1px
			right: -12px
			color: $orange	
















































































































































































































